
  <app-header></app-header>
  <body>
    <div class="bg-img">
      <section class="baner">
        <h1>¡Descubre lo último en moda!</h1>
        <p>
          Ropa y accesorios para cada ocasión. Visítanos en Maipú y encuentra tu
          estilo.
        </p>
      </section>

      <section class="section" id="productos">
        <h2>Nuestros Productos</h2>
        <p>
          Encuentra productods de belleza, ropa casual, formal y deportiva, y
          accesorios para completar tu look.
        </p>
      </section>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/Img/ant1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/Img/CARA2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assetsn/FORMAL5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

    </div>
  </body>
  <app-footer></app-footer>

